[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "tls"]
	path = tls
	url = https://github.com/liyanstat/tls
	shallow = true
	registered = true
