[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dacc"]
	path = dacc
	url = https://github.com/liyanstat/dacc
[submodule "tls"]
	path = tls
	url = https://github.com/liyanstat/tls
